img {
	max-width: 100%;
}

 ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    width: 200px;
    text-align: left;
    background: #393836;
    color: #fff;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 999;
}

aside .menu ul li a{
	font-size: 0.95em;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 12px;
    display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

aside .menu ul li.active a{
	background-color: #49c32c;
}